.wrapper{
    margin-top: 24px;
}
.heading{
  margin-bottom: 60px;
  font-size: 26px;
  font-weight: bold;
}
.cardsWrapper{
    margin-bottom: 80px;
}
.Wishlist_featuredDiv{
    font-size: 14px;
    font-weight: bold;
    color: #db4444;
    margin-bottom: 60px;
}
.headingWrapper{
    display: flex;
    justify-content: space-between;
}
.pagination button {
    background-color: #f5f5f5;
    color: black;
    border: none;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    font-size: 18px;
  }
  .card_Div {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 60px;
    margin-bottom: 80px;
    height: 400px;
  }
  