.newArrival_mainDiv {
  margin-bottom: 140px;
}
.newArrival_featuredDiv {
  margin-top: 24px;
  font-size: 14px;
  font-weight: bold;
  color: #db4444;
}
.newArrival_newArrivalDiv {
  font-size: 31px;
  font-weight: bold;
}
.newArrival_imageDiv {
  margin-top: 60px;
  display: flex;
}
.newArrival_imageDiv1 {
  margin-right: 30px;
}
.newArrival_imageDiv5 {
  margin-right: 30px;
}
.newArrival_imageDiv3 {
  margin-bottom: 32px;
}
.newArrival_imageDiv4 {
  display: flex;
}
