.billingFormWrapper {
  display: flex;
}
.formWrapper {
  width: 470px;
  color: grey;
  margin-right: 170px;
}
.formInputDiv {
  margin-top: 5px;
  margin-bottom: 3px;
  display: block;
  width: 470px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #eceaea;
}
.error {
  color: red;
}
.billWrapper {
  margin-top: 50px;
  width: 527px;
}
.cartItemDiv {
  color: #575555;
  margin-bottom: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.subTotal,
.shipping,
.Total {
  margin-bottom: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.paymentDiv , .couponImageDiv, .grandTotal {
  margin-bottom: 32px;
}
.cartSubmitButton {
  align-self: center;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 35%;
  background-color: #db4444;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
  height: 50px;
}
.flexibleDiv{
  display: flex;
  justify-content: space-between;
}
.option1,.option2 {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold; 
}
