.explore_mainDiv {
  margin-bottom: 140px;
}
.explore_featuredDiv {
  margin-top: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #db4444;
}
.explore_newArrivalDiv {
  font-size: 33px;
  font-weight: bold;
}
.card_Div{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  grid-auto-rows: 200px;
}