.browseByCategories_mainDiv {
  margin-bottom: 80px;
}
.browseByCategories_featuredDiv {
  margin-top: 24px;
  font-size: 14px;
  font-weight: bold;
  color: #db4444;
}
.browseByCategories_browseDiv {
  font-size: 31px;
  font-weight: bold;
}
.category_DivMain{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.category_Box {
  border-radius: 3px;
  font-size:23px;
  font-weight: bold;
  width: 170px;
  height: 145px;
  border: 1px solid grey;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}