.flashSales_mainDiv {
  margin-bottom: 140px;
}
.flashSales_featuredDiv {
  margin-top: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #db4444;
}
.flashSales_flashSalesDiv {
  font-size: 33px;
  font-weight: bold;
  display: flex;
  margin-bottom: 40px;
}
.flashSales_timerDiv {
  margin-left: 350px;
  margin-right: 350px;
}
.card_Div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
  height: 350px;
}
.pagination button {
  background-color: #f5f5f5;
  color: black;
  border: none;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  font-size: 20px;
}